# Игнорирование виртуального окружения (если используется)
venv/

# Игнорирование файлов среды (например, .env)
.env

# Игнорирование скомпилированных файлов Python
__pycache__/
*.pyc
*.pyo
*~

# Игнорирование файлов баз данных, журналов и т.д.
db.sqlite3
*.log
